
deploy
test
root
*ServerLog
2025_*
server
test_presure


llm
http_1

# git branch -m master old-master 将mater分支重命名为old-master
# 删除远程的 master 分支 git push origin --delete master
# 创建一个新的分支,与master没有任何关系 git checkout --orphan new-master
# 切换回master分支 git checkout master
